[2014-12-27 20:37] tshort opened #6 "New syntax to replace {}"
Because curly brackets are going away (https://github.com/JuliaLang/julia/pull/8578), we need something else. Two options I can think of are:

## Option 1

[code]
or
[code]
This is the easiest change. We'd just need to set `Equations = Any`.

## Option 2

[code]
This has the advantage that we write the macro to allow `=` in model equations. We could support either or both of these.

Here are optio

[2014-12-29 02:46] tshort opened #7 "Improve optional package support"
The support of Winston and other optional packages could be better. Here's a promising option:

https://github.com/one-more-minute/Jewel.jl/blob/b0e8c184f57e8e60c83e1b9ef49511b08c88f16f/src/LightTable/display/objects.jl#L168-L170

https://github.com/one-more-minute/Jewel.jl/blob/master/src/lazymod.jl#L1-L28

[2015-01-01 23:30] iraikov opened #9 "Support the use of units in constants, unknown declarations, and equations"
It would be convenient to be able to specify units in Sims model declarations, e.g.:

[code]

For this, the various mexpr constructors need to understand SIUnits quantities, and the various Unknown constructors such as Voltage, etc. would need to understand SIUnits and check that they are compatible.

[2015-01-02 01:01] tshort commented on #9
I like the idea. We need to be careful not to embed this too deeply. I'd also like to be able to use types without specifying units (the type would have default units). In Modelica, units get in the way too much.

In your example, I'd rather just type:
[code]

Maybe the definition of Voltage could just be:
[code]
`Unknown{T}(val)` could perform unit conversions immediately. I'm not sure we should

[2015-01-02 01:13] iraikov commented on #9
I also have encountered several modeling languages where unit declarations
can get in the way too much, so I agree this would take some
experimentation.

In your first example, it seems that you would allow the mixing mV and V in
the same model, but this is a major source of errors in my experience. I
like the second example (typealias) a bit more: it enforces that Voltage
Unknowns will always hav

[2015-01-02 01:16] tshort opened #10 "Documentation"
With [Docile](https://github.com/MichaelHatherly/Docile.jl) and a Base documentation system emerging (https://github.com/JuliaLang/julia/pull/8791 and https://github.com/JuliaLang/julia/issues/8966), it's a good time to document! We should probably wait to see what the standards will look like.

For the standard library, we can probably pull from the Modelica Standard Library. The license allows i

[2015-01-02 01:25] tshort commented on #9
In my first example, I intended that both would have the same units. The variable `V` would be converted to -0.035V internally.

[2015-01-02 01:34] tshort commented on #9
I'll go through the standard library and convert to one of these. Any preference?

[2015-01-02 01:44] iraikov commented on #6
Actually, I just realized I forgot to convert the examples to the new
syntax. Maybe we should wait to close this ticket until this is done.

On Thu, Jan 1, 2015 at 5:32 PM, Tom Short <notifications@github.com> wrote:

[2015-01-02 01:50] iraikov commented on #9
Perhaps we should start with using SIUnits for the typealiases in types.jl.
Automatic conversion of units sounds nice, but it might get pretty
complicated. I might create a set of "biophysical units" for the neural
models that use mV, ms, and so on by default.

[2015-01-02 01:58] tshort commented on #6
Okay, reopening...

[2015-01-02 02:25] tshort commented on #6
I'll go through the standard library and convert to one of these. Any preference?

[2015-01-02 02:58] iraikov commented on #6
I was just looking at the vanderpol and vanderpol_with_events examples, and
discovered that neither @equations not Equation works with examples that
have events in them. This is apart from the issue that Equations does not
work with one-liners.

When I replace {} with @equations begin .. end in vanderpol_with_events,
leaving the Event definitions as they are,
I get the error, "ERROR: `getindex` ha

[2015-01-02 03:02] tshort commented on #6
I'm not surprised on the macro, but I am on the Equation[]. Hmm...

[2015-01-02 03:04] iraikov commented on #6
I stand corrected, Equations[] works, I had just forgotten the commas... I
must admit I do not understand Julia macros enough to know how to debug
@equations.

On Thu, Jan 1, 2015 at 7:02 PM, Tom Short <notifications@github.com> wrote:

[2015-01-02 03:05] tshort commented on #6
I'll take a look tomorrow. Also, you shouldn't need commas...

[2015-01-02 03:10] iraikov commented on #6
If you can also look at Event, it seems to rely on the {} syntax so it
would need to be rewritten to use Equations[] (I think).

On Thu, Jan 1, 2015 at 7:05 PM, Tom Short <notifications@github.com> wrote:

[2015-01-02 13:36] tshort commented on #9
I don't think we can use `Unknown{Volt}` because `Volt` is not a type, it's an immutable. That means that units will need to be added as a field to Unknowns.

Surprisingly, the following works right now. 1000.0mV is equivalent to 1.0.

[code]

[2015-01-02 13:44] xogeny commented on #10
Tom, I've been watching this project for a while.  But what I'd really like to understand (from a documentation point of view) is what the underlying assumptions are about your models.  For example, you have the notion of hybrid behavior, but what about representation of synchronous events?  Also, your representation of connections is very different from Modelica.

Also, is it possible to express

[2015-01-02 15:36] iraikov commented on #10
I would also be interested in at least a denotational specification of the semantics of Sims, and eventually a facility for generating C or C++ code from a flattened Sim, based on such a semantic specification. The works of Georgidze and Nillson and of Broman, on which Sims is based can be the starting point for such a specification.

[2015-01-02 18:24] tshort commented on #6
I've gotten the examples converted. I'll work on stdlib now.

[2015-01-03 13:26] tshort commented on #6
@iraikov, this should be done, but please check your examples. There's a chance that I goofed parens accidentally.

[2015-01-03 13:26] #6 closed

[2015-01-03 20:00] iraikov commented on #6
Hi Tom,

   All of the neural examples work, except for the only one that has
structural events:

https://github.com/tshort/Sims.jl/blob/master/examples/neural/iafrefr.jl

It seems that the trefr constant, computed on line 57 is somehow not
visible in the call to the Refractory function.
Any idea what is going on? Thanks,

    -Ivan

On Sat, Jan 3, 2015 at 5:26 AM, Tom Short <notifications@github.

[2015-01-04 00:19] tshort commented on #6
I don't think that should have worked. `trefr` shouldn't be visible. I pushed a version that may get around it. This again didn't work with `@equations` in one spot. I'll try to dig deeper.

[2015-01-04 01:02] iraikov commented on #6
Thanks for looking at this. Of course, I would be happy with different
syntax, but the important thing is to be able to pass arguments to the
StructuralEvent transition function.

On Sat, Jan 3, 2015 at 4:19 PM, Tom Short <notifications@github.com> wrote:

[2015-01-04 03:23] tshort commented on #6
I think I fixed the `trefr` issue. It should have been obvious to me what was going on...

[2015-01-04 04:08] iraikov commented on #6
Works like a charm, thanks a lot!

On Sat, Jan 3, 2015 at 7:23 PM, Tom Short <notifications@github.com> wrote:

[2015-01-04 23:49] tshort commented on #10
I've opened a branch to try out documentation. I commented src/main.jl Docile style. I'll try one of the standard libraries next.

https://github.com/tshort/Sims.jl/tree/doc

[2015-01-04 23:50] tshort commented on #10
@xogeny, I've started a design document [here](https://github.com/tshort/Sims.jl/blob/master/doc/Design.md). It's not really a formal spec. I'm afraid the code is it for a while, but it fills in some blanks. If you have questions, that may help guide what I could fill in.

[2015-01-04 23:54] tshort commented on #10
@iraikov, as far as generating code, I'd like to be able to generate C and JavaScript of models. Options for C include:

* Julia2C - https://groups.google.com/d/msg/julia-dev/iBsehcB62kM/JJ48wAlBilEJ

* An LLVM C backend - https://github.com/draperlaboratory/llvm-cbe

For JavaScript, one of the above may work, or maybe we can directly generate it from LLVM bitcode:

* https://github.com/JuliaLang/

[2015-01-06 12:13] #7 closed

[2015-01-06 12:32] tshort opened #15 "sim method definitions"
The current `sim` API is as little messy. To straighten up, I propose the following:

[code]

Everything after the first argument is either a positional with default or a keyword argument.

Looking again at having `Sim` and `SimState`, I'm again inclined to want to flatten them into one structure. Thoughts, @iraikov? Then, we can add more options to `sim` or add other helpers to adjust the state o

[2015-01-06 12:37] tshort opened #16 "Unknown method definitions"
More housekeeping. I propose the following to clean up the spaghetti of Unknown definitions:

[code]

This will allow the following common uses:

[code]

Adding units will take more thought, but those can either slide into the list of arguments (probably 3rd) or could possibly be added or associated with the `T` type parameter.

[2015-01-06 12:43] tshort opened #17 "Use of Reactive.jl"
Our support for Discrete's is currently weak. They don't support any data flow. You cannot easily do the following:

[code]
There's no easy way to propagate changes to Discretes. The user has to manually perform updates like this in Events.

[Reactive.jl](https://github.com/JuliaLang/Reactive.jl) is one option for adding better data flow support. [SimJulia](https://github.com/BenLauwens/SimJulia.j

[2015-01-07 01:53] tshort commented on #10
I've documented some more in the [doc](https://github.com/tshort/Sims.jl/tree/doc) branch. Overall, I'm happy with the way Docile works at the REPL. You can use `?Resistor` to find help for the Resistor model. I also tried using Lexicon to generate a reference for all documented functions and models. Here are results so far:

https://tshort.github.io/Sims.jl/doc/api.html

I like the way it looks,

[2015-01-07 03:41] iraikov commented on #10
Hi Tom,

   The documentation looks pretty nice, thanks. On a somewhat related note,
do you think it is possible to use Docile for Sims models and individual
equations within a model?

On Tue, Jan 6, 2015 at 5:53 PM, Tom Short <notifications@github.com> wrote:

[2015-01-07 11:32] tshort commented on #10
For Sims models, yes, Docile works to document those. I've done that for almost all models in the standard electrical library at least.

For individual equations in a model, no. You can currently include documentation strings in the returned model, but they aren't really tied to one equation. Plus, I'm not sure what we'd do with those doc strings. How would you look them up as in `?something` at t

[2015-01-08 04:15] iraikov commented on #16
Hello Tom,

This does look a lot cleaner. I implemented it in my repository (branch new-unknown) but I had to add a clause to Unknown that takes a symbol as an argument, in order to allow the definition of MTime. Furthermore, this seems to break all uses of the unknown macro. In particular, the initial_conditions example does not work with the updated definition of Unknown.

[2015-01-08 04:25] iraikov commented on #15
I like the direction of using keywords for most arguments. I also agree that there is a need for passing Parameter changes and for having distributions for parameters.
One of the reasons for separating Sim and SimState was to save some memory in the case when creating multiple instances of the same set of equations. What is a good way to measure the memory use in both cases?

[2015-01-08 14:13] tshort commented on #16
Thanks. I hadn't actually tried running it with the proposed change. I'll
see if I can fix the macro. Also, I have a lot of changes coming on the
documentation branch, so this might test me git skills to merge them:)

On Wed, Jan 7, 2015 at 11:15 PM, Ivan Raikov <notifications@github.com>
wrote:

[2015-01-09 00:52] tshort commented on #10
Things are looking good on the documentation front. Almost everything is filled in. Docile/Lexicon works great. It gives good help in the REPL, and can spit out API-type docs for the web. [Mkdocs](http://www.mkdocs.org/) is the best system I've found for creating documentation from Markdown. See here for the current documentation:

https://tshort.github.io/Sims.jl/

The links to code don't work be

[2015-01-10 22:22] iraikov commented on #17
How would Inputs from Reactive interact with Unknowns? Could they be treated as a subtype of Unknown? I do agree that it might be useful to distinguish between state variables, parameters, and inputs that come from 'outside' the continuous system.

[2015-01-10 23:42] #10 closed

[2015-01-10 23:47] tshort commented on #17
My first thought is that we would use Reactive as part of Discrete variables. They would work the same buy changes in Discrete variables would propagate. I haven't thought through details any more than that,

[2015-01-11 03:32] tshort commented on #17
I haven't tried Readctive, yet, but after fixing a couple of bugs (just pushed), it's possible to use global Arrays as Parameters. Here's an example:

[code]
The results are reflected by the different coefficients. The arrays carry through into the residual function.

[2015-01-11 11:01] ViralBShah commented on #17
@shashi - Are the `Signal`s in Reactive.jl useful in this context?

[2015-01-11 11:02] ViralBShah opened #19 "Using Reel for animation"
I wonder if @shashi 's Reel.jl good enough to build the animations of the kind you have on the homepage. It is pretty simple, but may be enough to get the job done. Depends on ffmpeg.

https://github.com/shashi/Reel.jl

[2015-01-11 13:08] tshort commented on #19
Cool. Reel looks great for that application.

[2015-01-11 14:43] tshort commented on #17
It looks like Reactive.jl can be used for both Parameters and Discretes. We just need to figure out an API. Here are examples:

### Use as Parameters

[code]

### Use as Discretes with data flow

[code]

It looks like we can rip out our Discrete and Parameter support and replace both with light wrappers around the Reactive types.

[2015-01-11 21:34] tshort commented on #15
I haven't really tried to track down memory issues before. There was a recent thread on that:

https://groups.google.com/forum/#!topic/julia-users/MpCaRxrmR1s

[2015-01-12 02:43] tshort commented on #17
I created a reactive branch here: https://github.com/tshort/Sims.jl/tree/reactive

It's got basic support for `RDiscretes`, a Discrete variable that uses Reactive.jl signals.

Compare `Sims.Examples.Basics.VanderpolWithEventsReactive()` and `Sims.Examples.Basics.VanderpolWithEventsOriginal()` [here](https://github.com/tshort/Sims.jl/blob/reactive/examples/basics/vanderpol_with_events.jl#L15-L62).

[2015-01-12 04:18] iraikov commented on #17
What is the difference between push! and reinit? It does look from this example that parameters and discrete variables could be replaced with reactive signals.

[2015-01-12 17:50] shashi commented on #17
Sims.jl is very cool!

Signals seem to be a good way to represent time-varying discrete values. However it is more useful to keep Reactive and other libraries that use signals completely orthogonal. I would suggest implementing the simulation methods for `Signal{Equation}` and `Signal{Vector{Equation}}` values instead of something that uses `signal.value` as in `VanderpolWithEventsReactive`. For e

[2015-01-12 23:59] tshort commented on #17
@shashi, thanks for the input, and thanks for writing Reactive!

I'm new to data flow programming, and I'm trying to figure out what the issue is with the way I've implemented it in the first cut. I looked at the Interact code to see how it was different, but I can't figure it out. Interact widgets have a signal and they use `push!`. Also, I don't think a `Signal{Equation}` does what we want. If I

[2015-01-14 01:02] #16 closed

[2015-01-14 01:03] #15 closed

[2015-01-14 15:02] tshort opened #26 "Broken on Windows (v0.3.4)"
There are a few problems:

* Docile isn't in REQUIRES (affects all platforms). Easy fix.

* DASSL doesn't compile. Pretty easy fix to route around errors if there's no gfortran.

* Simulating a model with Sundials fails with the following:

[code]

[2015-01-15 12:27] tshort opened #28 "Initial equations and initialization"
Many problems currently fail during initialization. The initialization approaches in Sundials and DASSL are pretty simple. Lots has been written on the subject:

* https://modelica.org/events/modelica2011/Proceedings/pages/papers/04_3_ID_192_a_fv.pdf
* https://modelica.org/events/modelica2006/Proceedings/sessions/Session6a2.pdf
* http://www.ep.liu.se/ecp/084/011/ecp13084011.pdf

We can use KINSOL

[2015-01-15 12:28] tshort commented on #26
No progress on Sundials. I did get a 64-bit version of DASSL working. I haven't found anything to do the same for 32-bit usage.

[2015-01-17 00:17] #26 closed

[2015-01-17 00:17] tshort commented on #26
Sundials now works on windows, so I'm closing this.

[2015-01-17 00:38] tshort commented on #17
Still looking good. I'll probably plow ahead with changes and rip out the old Discretes and Parameters.

[2015-01-17 05:44] shashi commented on #17
@tshort Nice! #24 looks good! :)

The problem I was talking about is that Reactive cannot allow you to call push! inside another call to push! (this is to avoid infinite loops in a signal update A updating B which updates A and so on...). Since Interact is using push! to update signal of UI values you cannot use Sims to create interactive output. But I think this is a problem Reactive should addre

[2015-01-19 00:14] tshort commented on #17
Overall, things came together much faster than expected. More features, more flexibility, and less code! Thanks @shashi.

I'll merge this sometime this week.

[2015-01-25 02:21] tshort commented on #17
Features added in #31.

[2015-01-25 02:21] #17 closed

[2015-01-25 03:56] iraikov commented on #28
Kinsol should be able to find a solution if you give it a reasonable initial guess. By the way, does 'solve' update its input SimState with the solution it has found? If not, perhaps the API should be updated so that the solution found with solve can be passed to the main simulation procedures.

[2015-01-25 04:05] iraikov opened #32 "Inequality constraints for Unknowns"
The IDA solver provides the option of setting inequality constraints on the computed solution (i.e. y[1] >= 0). Is it possible to extend the definition of Unknown to allow such constraints? E.g. Unknown(1.0,"x",constraint=Positive)
or Unknown(1.0,"x",constraint=Negative) or similar.

[2015-01-25 12:43] tshort commented on #28
I don't think `solve` does update, but it should. When I first tried Kinsol, I couldn't get it to solve underdetermined initial conditions.

[2015-01-25 12:47] tshort commented on #32
+1.

DASSL also supports this.

[2015-01-26 02:45] iraikov commented on #32
Do you have any preference for the syntax? Perhaps the simplest is to use symbols for the different flags, eg. :Positive, :ZeroPositive, :Negative, :ZeroNegative  but if there is a more idiomatic way I am open to suggestions.

[2015-01-26 03:01] tshort commented on #32
Symbols are good. I'd stick to lower case.

On Sun, Jan 25, 2015 at 9:45 PM, Ivan Raikov <notifications@github.com>
wrote:

[2015-01-26 12:11] tshort commented on #32
We could also consider putting the constraint flag in as a type parameter for Unknowns. Then, modelers could dispatch on that Unknown type and set up aliases. It might look like this:
[code]

[2015-01-26 20:36] iraikov commented on #32
I really like the idea of putting the constraint in the type. Would the following code work?

[code]

[2015-01-26 22:37] tshort commented on #32
That should work, @iraikov!

[2015-01-28 02:09] tshort opened #36 "delay() is broken"
@iraikov, this is one of the things you changed. Can you please refresh my memory on why you pulled history out of Unknowns? `delay` is currently broken. Do you know if it's hard to fix with your new SimStateHistory?

We should include an example with `delay`, so that testing catches this.

[2015-01-28 02:40] iraikov commented on #36
Hi Tom,

    I pulled the history out of unknowns, because having multiple copies of
the same Sim with different parameters results in clobbering state history
in different simulation runs. Let me take a look and try to fix delay.

   Ivan

On Tue, Jan 27, 2015 at 6:09 PM, Tom Short <notifications@github.com> wrote:

[2015-01-28 04:27] iraikov commented on #36
I have updated the resid and event_at interface so that they receive history as an argument, which then can be used by the mexpr generated by delay. You can take a look at it in my fork. I will add a delay example tomorrow and do some serious testing.

[2015-01-28 22:53] tshort commented on #28
I'm going to leave this open for now. `initialize!` has been added, but has some limitations:

I've got a working `initialize!`. The issues are:

* It only works for scalar Unknowns, not vectors.

* It uses JuMP, and this increases load times. I tried using `@require` to make it optional, but I couldn't get it to work. Overall, I think this is okay. We'll have package caching sooner or later. JuMP

[2015-01-29 04:39] iraikov commented on #36
I have just submitted a pull request to fix this issue, however it appears that the dassl flag[16] needs to be set to zero in order for the delay equation example to work. Let me know how you want to proceed with this.

[2015-01-30 02:54] tshort opened #39 "sunsim test failures"
This was found as part of trying to get Travis to work. Dassl wouldn't install, so `sunsim` was used for everything. After changing `sim` from `dasslsim` to `sunsim`, tests fail with the following message:

[code]
It may always have been like this. Looks like a problem with structural updates.

[2015-01-30 04:25] iraikov commented on #39
Hm, I see now that the breaking_pendulum example has 6 state variables in the initial regime, and switches to 4 variables subsequently. I was assuming that the number of state variables does not change, so I may have broken things. Let me take a look.

[2015-01-30 05:07] iraikov commented on #39
I think I refactored sundials to just call IDAReInit when a structural event occurs for efficiency reasons, instead of creating a whole new instance of IDA. However, I see in the IDA documentation that ReInit requires the new problem to be of the same size, which is obviously not the case with the breaking pendulum. I think we can keep this optimization but add a check whether the new problem is a

[2015-01-30 12:13] tshort commented on #39
That approach sounds good, Ivan.

On Fri, Jan 30, 2015 at 12:07 AM, Ivan Raikov <notifications@github.com>
wrote:

[2015-01-31 04:43] iraikov commented on #39
Ok, I have already made the fix, and will create a pull request when the fix for delay() is merged.

[2015-01-31 12:01] tshort commented on #39
Great! Go ahead and merge the delay fix, then.

On Fri, Jan 30, 2015 at 11:43 PM, Ivan Raikov <notifications@github.com>
wrote:

[2015-02-02 22:26] iraikov commented on #32
I created a variant of type Unknown as above, but I am having a difficult time created a constructor that accepts UnknownConstraint type as an argument. I have the following code currently:
[code]

However, it seems that I cannot pass a subtype of UnknownConstraint to the constructor. What is the proper way to do this?

[2015-02-02 22:50] tshort commented on #32
Do you have the code in a branch somewhere?

On Monday, February 2, 2015, Ivan Raikov <notifications@github.com> wrote:

[2015-02-02 23:06] iraikov commented on #32
Hi Tom,

The code is here, thanks for looking at it:

https://github.com/iraikov/Sims.jl/tree/constraints

On Mon, Feb 2, 2015 at 2:50 PM, Tom Short <notifications@github.com> wrote:

[2015-02-03 00:33] tshort commented on #32
Looks like your code works to me. You might have problems with other arguments. Here's a log:

[code]

[2015-02-03 00:36] tshort commented on #32
I think I see it. You probably need to export UnknownConstraint.

[2015-02-03 10:14] tshort commented on #32
@iraikov, in your branch, you've defined several new Unknown method definitions, like NonPositiveUnknown as well as an option to specify the constraint with a keyword argument. I think that's too many ways to do the same thing. I'd prefer just to stick to Unknown{type, constraint}(). I think the constraint will mostly be used with type aliases.

[2015-02-03 15:09] iraikov commented on #32
Hi Tom,

You are right, I realized I had 'fixed' the issue I had by creating one
constructor for each constraint. Yesterday, I pressed forward with the
interface to the solvers to see how things will go, but I will remove all
the extra constructor and try again Unknown{type,constraint} and
typealiases, as you suggest. Unfortunately, so far it seems that dassl
cannot handle some systems with constr

[2015-02-03 16:37] iraikov opened #46 "Simulation timestep and output sampling timestep"
A few of the neural examples need to have their output sampled at a relatively small timestep, 0.001 or so, which currently requires a simulation timestep of this size. However, this results in wasteful calls to IDASolve: IDA provides access to its internal interpolation tables via GetDky and that means the simulation timestep can be relatively large, while interpolated  dense output can be obtain

[2015-02-03 17:41] tshort commented on #46
No idea here...

On Tue, Feb 3, 2015 at 11:37 AM, Ivan Raikov <notifications@github.com>
wrote:

[2015-02-03 19:04] tshort commented on #32
I took a quick look at the dassl code. It looks good to me. Maybe sundials will work better.

[2015-02-03 19:10] tshort commented on #46
In reading the dassl code, it looks like INFO[4] does what you're looking for.

[2015-02-03 19:12] tshort commented on #39
Fixed by #42.

[2015-02-03 19:12] #39 closed

[2015-02-03 19:12] tshort commented on #36
Fixed by #38.

[2015-02-03 19:12] #36 closed

[2015-02-06 23:45] tshort opened #49 "value(m::MExpr) is broken when m has an equation that uses delay"
I've got a [speed/memory improvement](https://github.com/tshort/Sims.jl/compare/resid-less-copying?expand=1) for the residual calculation that depends on `value` working for equations and initial equations. It mostly works well. `value(e::MExpr)` is  also a nice feature to have in general:

[code]

`value` is broken when an equation has `delay`. Here is the DDE example with a delay:

[code]

I'm s

[2015-02-07 00:19] iraikov commented on #49
I think the separation of SimStateHistory was a side effect of my temporary attempt to allow the creation of multiple Sundials instances from a single SimState. The (somewhat hypothetical) use case is to simulate networks of oscillators that are copies of the same set of equations but with different parameters. But you are very welcome to put the history back in the unknowns; I have not yet done m

[2015-02-07 11:54] tshort commented on #32
Closed by PR #48.

[2015-02-07 11:54] #32 closed

[2015-02-07 17:20] iraikov commented on #46
Unfortunately, one has to dig pretty deep into the DASSL internals to get that to work, and in Sundials, the range of interpolated outputs is limited by the internal timestep, which makes it very difficult to get output at equal intervals, so I am closing this.

[2015-02-07 17:20] #46 closed

[2015-02-09 14:45] #49 closed

[2015-02-10 13:22] tshort opened #54 "Sampling and synchronous language features"
This feature request is spurred by #52. I won't get to it for a few weeks, but I wanted to get some thoughts down.

Modelica has a new feature related to sampling and synchronous language features:

*    http://book.xogeny.com/behavior/discrete/sampling/
*    https://github.com/modelica/Modelica_Synchronous
*    https://www.modelica.org/documents/ModelicaSpec33.pdf (chapt 16)

Instead of triggerin

[2015-02-11 03:20] iraikov opened #55 "Problems with multiple events"
It appears that after recent changes, reinit in events can no longer change the values of Discretes. E.g. the following does not change the value of I_stim:

[code]

[2015-02-11 12:41] tshort commented on #55
@iraikov, I can't reproduce. With Julia v0.3.5 and the latest Sims, `Sims.Examples.Basics.VanderpolWithEvents()` works fine as does the following:

[code]
Could you please let me know what Julia version you're using and the complete example you used?

[2015-02-11 14:52] iraikov commented on #55
Thanks for looking at this so quickly.
I am also using Julia 0.3.5 and Sims from the master branch. It seems that the problem is not with reinit, but with having more than one event. The example is neural/cgc.jl which has one event at MTime-250.0 and one event at MTime-800.0. It seems that only the last event in the model gets detected. Can you try having several events and see if it works for you

[2015-02-11 15:04] tshort commented on #55
Interesting. That's reproducible for me.

[2015-02-11 15:48] #55 closed

[2015-02-11 17:36] tshort commented on #55
Hopefully fixed. Silly mistake...

[2015-02-11 17:58] iraikov commented on #55
Thanks a lot for the quick fix!

  -Ivan

On Wed, Feb 11, 2015 at 9:36 AM, Tom Short <notifications@github.com> wrote:

[2015-02-24 20:16] iraikov opened #59 "Investigate the possibility for solving PDEs with JFVM.jl and Sims"
https://github.com/simulkade/JFVM.jl is a Julia library for discretizing and solving PDEs using finite volume methods. It might be possible to solve non-linear PDEs with ODEs supplied from Sims and discretized volume supplied from JFVM. This issue is a reminder to investigate this possibility.

[2015-04-26 12:06] peter1000 opened #61 "Added Sims.jl to Docile projects"
hi,

would you mind if I add Sims.jl to the
[Projects using Docile / Lexicon](https://github.com/MichaelHatherly/Docile.jl#projects-using-docile--lexicon)

[2015-04-26 12:09] tshort commented on #61
Feel free!
 On Apr 26, 2015 8:07 AM, "peter1000" <notifications@github.com> wrote:

[2015-04-26 12:24] peter1000 commented on #61
thanks

[2015-04-26 12:24] #61 closed

[2015-04-27 11:23] tshort commented on #61
Here are some other packages that use Mkdocs for documentation. Most of these use Docile/Lexicon. DataFrames documentation is still a work in progress.

https://www.google.com/search?q=mkdocs.yml+jl+site:github.com&ie=utf-8&oe=utf-8

[2015-04-27 11:41] peter1000 commented on #61
Thanks

[2015-05-14 17:00] iraikov opened #62 "Make inline documentation compatible with new version of Docile"
It seems that recent versions of Docile have abandoned the @doc* syntax. The inline documentation needs to be updated so that it is compatible with Docile.

[2015-05-14 17:20] iraikov opened #63 "Compatibility with new version of Reactive"
Using the most recent version of Reactive results in error messages about Reactive.value being overwritten -- seems that there is some confusion with Sims.value and Reactive.value.

[2015-05-14 18:04] tshort commented on #62
Looks like there's now  `@doc+` macro that can do something similar. Maybe this won't be too much of a change. Thanks for the report.

[2015-05-22 05:49] tkelman opened #64 "Move MExpr type and operations to a separate small package?"
What would folks think about this? I have some projects where I'd be looking into doing wrappers for nonlinear control around JuMP, which would likely involve some macro code and an almost-exact copy of the MExpr type and methods on it. Not urgent at the moment, but planning a bit ahead here as other members of my lab are starting to use JuMP and we're thinking about things that could make it more

[2015-05-22 11:52] #62 closed

[2015-05-22 11:56] tshort commented on #64
I'm good with this idea, @tkelman. Is there an umbrella organization that could house the mexpr package?

[2015-05-22 19:18] tkelman commented on #64
Maybe JuliaDiff, but it's more a generic little metaprogramming / operator-overloading helper type so isn't strictly limited to that purpose.

[2015-06-03 12:53] tkelman commented on #64
I may have to work on this a little sooner than I thought I would. What we be the easiest way to go about this, have me do all the work on a personal repo (something like `ExprOverloads.jl` maybe?) then transfer ownership to you and do the PR to make Sims use it once it's registered and working?

The only thing I'm a little bit concerned about is that you have an abstract `ModelType` here that `ME

[2015-06-04 01:30] tshort commented on #64
@tkelman, as far as the subtype issue, that can probably be handled with unions or better yet, a Tim Holy-style trait. Don't feel you have to do the Sims side of it.

I'm good with your plan to start by creating your repo. As far as transfering, it'd be best to transfer to a community site where we both have access.

[2015-10-29 04:22] iraikov opened #66 "Compatibility with Julia v0.4"
Using Sims with Julia v0.4 results in the following error:

ERROR: LoadError: LoadError: MethodError: `argtype` has no method matching argtype(::ASCIIString)
 in include at ./boot.jl:261
 in include_from_node1 at ./loading.jl:304
 in include at ./boot.jl:261
 in include_from_node1 at ./loading.jl:304
 in require at ./loading.jl:243
while loading /home/igr/.julia/v0.4/Sims/src/main.jl, in expressio

[2016-08-09 16:13] jalving commented on #64
It's now over a year later, but was there any outcome on this?  I'm also interested in using generic model expressions to interact with JuMP, and MExpr might just fit the bill.

[2016-08-09 16:49] tkelman commented on #64
Never got around to it. JuMP has implemented their own mechanisms in the meantime.

[2016-08-09 17:08] jalving commented on #64
Thanks.  I was mostly interested if equation expressions would be generalized.  JuMP's facilities will be more than capable right now.

[2016-12-01 16:07] ChrisRackauckas opened #69 "Separate DASKR wrapper to a different package?"
It would be nice to have a DASKR.jl just for the DASKR wrapper, so that way the DAE solver could be used directly. How hard would that be given the current state of the code?

[2016-12-01 17:38] tshort commented on #69
@ChrisRackauckas, it'd be easy for just the wrapper. (BTW, great job with the whole JuliaDiffEq org/community!) DASKR is only one FORTRAN routine to wrap. If you're interested in any of the following, I'll need some help, though:

* BinDeps--I don't have anything fancy for installation right now. It's really up to the user to get FORTRAN installed. I've looked at BinDeps before and never really fi

[2016-12-01 17:48] ChrisRackauckas commented on #69
I think ODEInterface.jl's style of "if you have a FORTRAN compiler, it'll work" is fine.

Tests--Some of your existing work would help here.

Sure thing. If you put a draft together that shows how to call the solver, I can pretty easily get it to the API. Note I probably won't get around to it for like a week (I shouldn't be coding today... should be a paper writing day...).

[2016-12-01 18:13] #66 closed

[2016-12-01 18:13] #63 closed

[2016-12-04 13:05] tshort commented on #69
@ChrisRackauckas, I put together a quick-n-dirty repo here:

https://github.com/tshort/DASKR.jl

Notes:

- It has a crude/partial common API interface, but I didn't know what I was doing. I mainly copied the Sundials function.
- The common API doesn't support events. I think callbacks may still be a work in progress.
- There are a few helpers that help set up callbacks for the solver (residual, ja

[2016-12-04 18:48] ChrisRackauckas commented on #69
I'll submit some PRs.

Yes. That is a big issue right now that we don't quite know how to solve. Maybe separating callback and event interfaces would do better than the current proposal of trying to have a common callback interface? The problem is that different packages need/can have very different code injected in via callbacks, so that's hard to standardize.

https://github.com/JuliaDiffEq/Road

[2016-12-04 19:01] #69 closed

[2016-12-06 19:10] tshort opened #71 "Broken tests on Julia 0.4 and 0.5"
Although the current master passes tests, some models and examples are still broken. They run, but the results are wrong. The problems (I think) are in the event system and may be due to changes in React.

[2016-12-06 19:17] iraikov commented on #71
I can help with that if you point me to the specific examples that are
broken.

On Tue, Dec 6, 2016 at 11:10 AM, Tom Short <notifications@github.com> wrote:

[2016-12-06 19:29] tshort commented on #71
I think it's anything with an `Event`. `StructuralEvents` seem to work. I think the events are getting triggered in Sundials or DASSL, but the changes are not propagating. Unfortunately, I don't remember that part of the code well.

A lot of the electrical models fail because they have a `StepVoltage`. `Sims.Examples.Basics.VanderpolWithEvents` is another that doesn't work. `reinit` isn't working.

[2016-12-06 19:39] iraikov commented on #71
Ok, I will take a look in a couple of hours. I have one or two neural examples with structural events, and anyway I need to check the grid stuff. I wholeheartedly agree about having  a better way for testing, but how to test models with no analytical solution? Would the ODE.jl developers have some ideas?

[2016-12-06 19:40] iraikov commented on #71
I meant to say I have one or two neural examples with events.

[2016-12-06 20:22] iraikov commented on #71
It looks like ev_pos_thunk and ev_neg_thunk are created but never used, perhaps this is why event handlers are never invoked.

[2016-12-06 20:26] iraikov commented on #71
Correction, only ev_pos_thunk is never used. After adding ev_pos_thunk to the call on line 256 in simcreation,jl, the event handlers do get invoked.

[2016-12-06 22:10] tshort commented on #71
That's a bug, Ivan. It doesn't fix the tests for me, though. (I may need to start fresh from the repo, though.)

[2016-12-06 22:38] iraikov commented on #71
There could be other bugs, of course; but for example in  the VanderpolWithEvents model, it looks like the mu_u variable is getting the updated value of mu after each reinit. Can you check and tell me what should be the correct behavior for this model after applying the fix above? It probably is a good idea to start afresh, I was actually getting segfaults when I first tried your compiled closure

[2016-12-07 02:59] tshort commented on #71
I tried with a fresh repo, and the Event tests still don't work for me after fixing the bug you found, @iraikov. It must be something deeper. I can't remember what the exact behavior should be for VanderpolWithEvents, but the last three variables shouldn't stay constant.

[2016-12-07 03:16] iraikov commented on #71
Hm, this might some peculiarity with discrete variables; when I wrote that
I see the mu variable changing, I had put a println  that prints the
updated state in the positive crossing handler. I just removed the println,
and now indeed mu does not change. Very odd, and I will investigate further.

On Tue, Dec 6, 2016 at 6:59 PM, Tom Short <notifications@github.com> wrote:

[2016-12-08 00:16] tshort commented on #71
It looks like Reactive changed how it works. `push!(x::Signal)` doesn't propagate immediately. It just "queues an update". Here's an example where the value isn't updated immediately.

[code]
The updated value didn't appear until the second `println`. I think this is what's preventing updates of `Discrete` variables in Sims. I also think I have a kludgy fix by appending `Reactive.push!()` with `Re

[2016-12-08 01:05] iraikov commented on #71
There is also something called send_value! that seems to perform all the
actions queued in a Reactive variable.

On Wed, Dec 7, 2016 at 4:16 PM, Tom Short <notifications@github.com> wrote:

[2016-12-08 01:48] tshort commented on #71
That sounds useful, but I'm not sure what the timestep argument means. Anyway, I dislike all of this because it means we have to use the internals of Reactive rather than the public API.

[2016-12-08 21:34] iraikov commented on #71
Perhaps then we could request to add a "force" routine to the public API of Reactive that ensures all actions are performed.

[2016-12-09 01:44] tshort commented on #71
I may try to replace Reactive in Sims. See the following:

https://github.com/tshort/ReactiveBasics.jl

Also, I think the Events are now working, so closing...

[2016-12-09 01:44] #71 closed

[2019-09-04 19:00] KristofferC opened #78 "Info about upcoming removal of packages in the General registry"
As described in https://discourse.julialang.org/t/ann-plans-for-removing-packages-that-do-not-yet-support-1-0-from-the-general-registry/ we are planning on removing packages that do not support 1.0 from the General registry. This package has been detected to not support 1.0 and is thus slated to be removed. The removal of packages from the registry will happen approximately a month after this issu

[2019-10-09 08:32] #78 closed

[2021-04-19 00:30] #9 closed

[2021-04-19 00:30] #19 closed

[2021-04-19 00:30] #59 closed

[2021-04-19 00:30] #64 closed

[2021-08-05 12:56] tshort opened #84 "Probably need a name change"
It fails the auto merge in the package registry (https://github.com/JuliaRegistries/General/pull/35819). The package name is too short. Options include:

* FunctionalModels
* FunctionalMTK

[2021-12-08 10:44] xendo commented on #84
Without this change it's impossible to fetch from general repository. Quick workaround is to clone this repo and add Sims from local path:

`(@v1.7) pkg> add ~/Julia/Sims.jl`

[2021-12-08 13:41] tshort commented on #84
Yeah. I'll work on this soon (probably over the weekend).

[2021-12-15 00:35] JuliaTagBot opened #97 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-12-18 03:43] tshort commented on #84
Done and registered

[2021-12-18 03:43] #84 closed

[2021-12-24 23:40] tshort commented on #97
@JuliaRegistrator register

[2021-12-24 23:40] JuliaRegistrator commented on #97
Registration pull request created: [JuliaRegistries/General/51206](https://github.com/JuliaRegistries/General/pull/51206)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can